@import './base/variables.scss';

.ui-alert {
	border: 1px solid transparent;
	border-radius: $alert-border-radius;
	color: $grey-200;
	margin-bottom: 1rem;
	padding: 0.75rem 1.25rem;
	position: relative;
	width: 100%;

	.ui-button-close {
		color: $grey-200;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.ui-alert--type-info {
	background-color: $alert-bgr-info;
	border-color: color($alert-bgr-info shade(10%));
}

.ui-alert--type-success {
	background-color: $alert-bgr-success;
	border-color: color($alert-bgr-success shade(10%));
}

.ui-alert--type-warning {
	background-color: $alert-bgr-warning;
	border-color: color($alert-bgr-warning shade(10%));
}

.ui-alert--type-error {
	background-color: $alert-bgr-error;
	border-color: color($alert-bgr-error shade(10%));
}
