.d-page__section {
	margin-bottom: 2rem;

	p {
		margin-bottom: 10px;
	}
}

.d-page__header {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5rem;
	padding-bottom: 1.75rem;
}

.d-page__codeblock {
	border-top: 1px dashed #cccccc;
	margin-top: 2em;
	padding-top: 2em;
}
